[user]
	name = "franky"
	email = yinping@kooxoo.com
[merge]
    summary = true
    tool = vimdiff
[diff]
    renames = copy
[i18n]
    logoutputencoding = GBK
[color]
    diff = auto
    status = true
    branch = auto
